# IDE stuff
*.iml
.idea/vcs.xml
release/*

# Python stuff
*.pyc
thing.py
config.py
plugins/xp_grind.py

# Database
storage/*.sqlite*

# Misc
*.xml
config.json
avatar.png
border.png
profile.png
lolsig.png
cache/*
log.txt
fonts/*
