# IDE stuff
*.iml
.idea/vcs.xml
release/*

# Python stuff
*.pyc
config.py

# Virtualenv
sigma.env

# Database & Storage
db/*
!db/server_settings.sql
chatterbot.db

# Logfiles
log/*
log.txt

# Misc
*.xml
cache/*
chains/*

# still required?
avatar.png
border.png
profile.png
lolsig.png