arrow
steam
wget
requests
Pillow
lxml
translate
nhentai.py
hurry.filesize
Shosetsu
imgurpython
praw
cleverwrap
tornado
pyyaml
discord.py[voice]
wikipedia
humanfriendly
blinker
nose
python-twitch
wolframalpha
geopy
pymongo
google-api-python-client
protobuf
pafy
youtube_dl
markovify
cssselect
soundcloud