[Unit]
Description=Sigma The Database Giant
After=network.target
Requires=mongod.service

[Service]
User=root
Environment=LOGTARGET_JOURNAL=1
Environment=SIGMA_HOME=/srv/apex-sigma
WorkingDirectory=/srv/apex-sigma
ExecStart=/srv/apex-sigma/run.sh
Restart=always

[Install]
WantedBy=multi-user.target
